:host {
  display: inline-flex;
  align-items: center;

  .checkbox {
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 2px solid #808080;
    border-radius: 20%;
    margin: 5px 10px 5px 5px;
    transition: transform 0.2s;

    &.checked {
      background-image: url('../../../assets/check.png');
      border-color: #1e90ff;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
