div {
  background-color: white;
  padding: 40px 20px;
  position: relative;
  margin: 30px 0;
}

div.collapsed {
  padding-bottom: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 8px;
  right: 8px;
}

button.collapse {
  background-image: url('../../assets/minus.png');
}

button.expand {
  background-image: url('../../assets/plus.png');
}

main {
  overflow: hidden;
}
