:host {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: flex-end;

  .login-button {
    border: none;
    background-color: #0000ff;
    color: #ffffff;
    padding: 20px;
    font-size: xx-large;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #1e90ff;
    }
  }
}
