<img alt="[LOGO]" src="../../assets/logo.jpg" />
<nav>
  <div>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/inbox" routerLinkActive="active">Inbox</a>
    <a routerLink="/trips" routerLinkActive="active">Trips</a>
  </div>
  <div>
    <a routerLink="/listings" routerLinkActive="active">My Listings</a>
    <a routerLink="/reservations" routerLinkActive="active">Reservations</a>
    <a routerLink="/broadcast" routerLinkActive="active">Broadcast</a>
  </div>
  <div>
    <a routerLink="/account" routerLinkActive="active">Account</a>
    <a routerLink="/help" routerLinkActive="active">Help</a>
  </div>
</nav>
