:host {
  background-color: white;
  box-shadow: 2px 0 2px lightgrey;
}

img {
  width: 90%;
  display: block;
  margin: 10px auto 50px;
}

h1 {
  text-align: center;
}

div {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: darkgrey;
  padding: 10px 30px 10px 60px;
  outline: none;
  background: url("../../assets/box.png") no-repeat 30px center;
}

a.active {
  color: darkgreen;
  background-color: lightgreen;
}
