.group-label {
  font-weight: bold;
  display: block;
  font-size: normal;
  margin-bottom: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

button.clear {
  border: none;
  background-color: transparent;
  color: blue;
}

app-checkbox {
  margin: 5px 0;
}

input {
  background: #eeffff url('../../assets/calendar.png') no-repeat calc(100% - 20px) 50%;
  padding: 15px 35px 15px 15px;
  border: none;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

#date-pick-options {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#date-pick-options div {
  padding: 10px;
  background-color: #eeffff;
  text-align: center;
  border-radius: 10px;
}

#date-pick-options div.selected {
  background-color: lightskyblue;
  color: darkblue;
}

#date-pick-options div:not(:last-child) {
  flex-basis: 120px;
}

#date-pick-options div:last-child {
  flex-basis: 40px;
}

#status {
  display: flex;
  flex-wrap: wrap;
}

#status > *, #nights > *, #guests > * {
  width: 50%;
}

#nights, #guests {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(3 * (24px + 10px));
}

#nights {
  margin-bottom: 15px;
}

#listing-name {
  display: flex;
  flex-direction: column;
}

#listing-name > * {
  width: 100%;
}
