<form [formGroup]="filtersForm">
  <header>
    <span class="group-label">Filters</span>
    <button type="button" class="clear" (click)="clearAll()">Clear</button>
  </header>
  <app-card>
    <header>
      <span class="group-label">Trip Date</span>
      <button type="button" class="clear" (click)="clearTripDate()">Clear</button>
    </header>
    <div id="trip-date" formGroupName="tripDate">
      <input formControlName="checkInDate" placeholder="Check-in Date" />
      <input formControlName="checkOutDate" placeholder="Check-out Date" />
      <div id="date-pick-options">
        <div [class.selected]="datePickOptions['thisWeek']" (click)="selectDatePickOption('thisWeek')">This week</div>
        <div [class.selected]="datePickOptions['thisMonth']" (click)="selectDatePickOption('thisMonth')">This month</div>
        <div [class.selected]="datePickOptions['plus3']" (click)="selectDatePickOption('plus3')">+3</div>
      </div>
    </div>
  </app-card>
  <app-card>
    <span class="group-label">Status</span>
    <div id="status" formGroupName="status">
      <app-checkbox formControlName="accepted" label="Accepted"></app-checkbox>
      <app-checkbox formControlName="expired" label="Expired"></app-checkbox>
      <app-checkbox formControlName="canceled" label="Canceled"></app-checkbox>
      <app-checkbox formControlName="declined" label="Declined"></app-checkbox>
    </div>
  </app-card>
  <app-card>
    <span class="group-label">Nights</span>
    <div id="nights" formGroupName="nights">
      <app-checkbox formControlName="oneNight" label="1 Night"></app-checkbox>
      <app-checkbox formControlName="twoNights" label="2 Nights"></app-checkbox>
      <app-checkbox formControlName="threeNights" label="3 Nights"></app-checkbox>
      <app-checkbox formControlName="fourNights" label="4 Nights"></app-checkbox>
      <app-checkbox formControlName="fiveNights" label="5 Nights"></app-checkbox>
      <app-checkbox formControlName="overFiveNights" label=">5 Nights"></app-checkbox>
    </div>
    <span class="group-label">Guests</span>
    <div id="guests" formGroupName="guests">
      <app-checkbox formControlName="oneGuest" label="1 Guest"></app-checkbox>
      <app-checkbox formControlName="twoGuests" label="2 Guests"></app-checkbox>
      <app-checkbox formControlName="threeGuests" label="3 Guests"></app-checkbox>
      <app-checkbox formControlName="fourGuests" label="4 Guests"></app-checkbox>
      <app-checkbox formControlName="fiveGuests" label="5 Guests"></app-checkbox>
      <app-checkbox formControlName="overFiveGuests" label=">5 Guests"></app-checkbox>
    </div>
  </app-card>
  <app-card>
    <span class="group-label">Listing Name</span>
    <div id="listing-name" formGroupName="listingName">
      <app-checkbox formControlName="mesmerizing" label="Mesmerizing..., Shibuya"></app-checkbox>
      <app-checkbox formControlName="groups1" label="Groups, families..., Asakusa"></app-checkbox>
      <app-checkbox formControlName="japanese1" label="Japanese style..., Sendai"></app-checkbox>
      <app-checkbox formControlName="koenju" label="4min koenju 3..., Shibuya"></app-checkbox>
      <app-checkbox formControlName="tokyo1" label="Tokyo! 5min wal..., Shibuya"></app-checkbox>
      <app-checkbox formControlName="japanese2" label="Japanese style..., Kyoto"></app-checkbox>
      <app-checkbox formControlName="groups2" label="Groups, families..., Asakusa"></app-checkbox>
      <app-checkbox formControlName="tokyo2" label="Tokyo! 5min wal..., Shibuya"></app-checkbox>
    </div>
  </app-card>
</form>
