<img class="logo" alt="[LOGO]" src="assets/logo.jpg" />
<div class="nav">
  <div class="nav-group">
    <a class="link" routerLink="/dashboard" routerLinkActive="active">{{ 'nav.dashboard' | translate }}</a>
    <a class="link" routerLink="/inbox" routerLinkActive="active">{{ 'nav.inbox' | translate }}</a>
    <a class="link" routerLink="/trips" routerLinkActive="active">{{ 'nav.trips' | translate }}</a>
  </div>
  <div class="nav-group">
    <a class="link" routerLink="/listings" routerLinkActive="active">{{ 'nav.myListings' | translate }}</a>
    <a class="link" routerLink="/reservations" routerLinkActive="active">{{ 'nav.reservations' | translate }}</a>
    <a class="link" routerLink="/broadcast" routerLinkActive="active">{{ 'nav.broadcast' | translate }}</a>
  </div>
  <div class="nav-group">
    <a class="link" routerLink="/account" routerLinkActive="active">{{ 'nav.account' | translate }}</a>
    <a class="link" routerLink="/help" routerLinkActive="active">{{ 'nav.help' | translate }}</a>
  </div>
</div>
