:host {
  background-color: #ffffff;
  box-shadow: 2px 0 2px #d3d3d3;

  .logo {
    width: 90%;
    display: block;
    margin: 10px auto 50px;
  }

  .nav-group {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    .link {
      text-decoration: none;
      color: #a9a9a9;
      padding: 10px 30px 10px 60px;
      outline: none;
      background: url("../../../assets/box.png") no-repeat 30px center;

      &.active {
        color: #006400;
        background-color: #90ee90;
      }
    }
  }
}
