header {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

button {
  border: none;
  background: transparent url('../../assets/arrow-down.png');
  height: 16px;
  width: 16px;
  cursor: pointer;
}

#wrapper {
  position: relative;
}

aside {
  position: absolute;
  z-index: 100;
  top: 5px;
  background-color: white;
  border-radius: 5px;
  transition: box-shadow 0.2s;
}

aside.show {
  box-shadow: 0 0 1px 2px dodgerblue;
  transition: box-shadow 0.5s;
}

aside.show .option {
  height: 35px;
  line-height: 35px;
  font-size: medium;
}

.option {
  white-space: nowrap;
  cursor: pointer;
  padding: 0 10px;
  height: 0;
  font-size: 0;
  color: dodgerblue;
  border-radius: 5px;
  transition: height 0.2s, font-size 0.2s;
}

aside.show .option {
  transition: height 0.5s, font-size 0.5s;
}

.option.active {
  background-color: dodgerblue;
  color: white;
}
